<%- include("partials/header1"); -%>

<title>Register</title>

<%- include("partials/header2"); -%>

</head>
<body>

<div class="container d-flex align-items-center justify-content-center">
    <div class="d-flex justify-content-center align-items-center h-50" style="width: 25%;">

        <form action="/register" method="post" class="h-100" style="width: 80%;">
        <input type="hidden" name="type" value="c">
        <button type="submit" class="buuttoonn btn btn-primary btn-block mb-4 h-100">
            <h2 style="font-family: 'Roboto Mono', monospace;">
                Register <br> <br>
                As <br> <br>
                Customer <br> <br> <br>
                <p style=" font-size: small;">Already registered? <a href="/login" style="color: #4a72b3; font-weight: 700;">Login</a></p>
            </h2> 
        </button>
        </form>

    </div>

    <div class="d-flex justify-content-center align-items-center h-75" style="width: 3px; background-color: #de802f;"></div>

    <div class="d-flex justify-content-center align-items-center h-50" style="width: 25%;">

        <form action="/register" method="post" class="h-100" style="width: 80%;">
        <input type="hidden" name="type" value="a">
        <button type="submit" class="buuttoonn btn btn-primary btn-block mb-4 h-100">
            <h2 style="font-family: 'Roboto Mono', monospace;">
                Register <br> <br>
                As <br> <br>
                Agency Member <br> <br>
                <p style=" font-size: small;">Already registered? <a href="/login" style="color: #4a72b3; font-weight: 700;">Login</a></p>
            </h2> 
        </button>
        </form>

    </div>


</div>

</body>
</html>